html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Livvic', sans-serif;
  color: #333;
}

body {
  background: #ccc;
  margin: 2rem 3rem;
  line-height: 1.5;
}

.btn {
  background: #333;
  color: #fff;
  padding: 0.5rem 1.2rem;
  text-decoration: none;
  border: 0;
}

img {
  width: 100%;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
}

.main-nav {
  margin: 0;
  padding: 0;
}

.main-nav ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-nav ul li {
  list-style: none;
  padding: 0.5rem 6.4rem;
  background-color: #ddd;
  -webkit-box-shadow: 0.2px 2px 5px rgba(104, 104, 104, 0.8);
          box-shadow: 0.2px 2px 5px rgba(104, 104, 104, 0.8);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.main-nav ul li a {
  font-size: 1.1rem;
  font-weight: 200;
  text-decoration: none;
  color: #333;
  letter-spacing: 0.9px;
}

.main-nav ul li:hover {
  background-color: #333;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.main-nav ul li:hover a {
  color: #ddd;
}

.top-container {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
      grid-template-areas: 'a a b' 'a a c';
}

.showcase {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: a;
  min-height: 400px;
  background-image: url(./img/cover.jpg);
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0.2px 2px 5px rgba(104, 104, 104, 0.8);
          box-shadow: 0.2px 2px 5px rgba(104, 104, 104, 0.8);
}

.showcase h1 {
  font-size: 4rem;
  margin-left: 4rem;
  color: rgba(0, 0, 0, 0.726);
}

.showcase a {
  margin-left: 4rem;
  margin-top: -2rem;
}

.showcase a:hover {
  -webkit-transform: translateY(-0.5px);
          transform: translateY(-0.5px);
}

.top-box {
  background: #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-box h4 {
  margin-top: 15px;
}

.top-box p {
  margin-top: -0.1rem;
  font-size: 2rem;
  font-weight: 600;
}

.top-box a {
  margin-top: -0.5rem;
}

.top-box-a {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: b;
}

.top-box-b {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: c;
}

.boxes {
  margin: 2rem 0rem;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.boxes .box {
  background-attachment: #ddd;
  text-align: center;
  padding: 1rem;
  -webkit-box-shadow: 0.2px 2px 5px rgba(104, 104, 104, 0.8);
          box-shadow: 0.2px 2px 5px rgba(104, 104, 104, 0.8);
}

.info {
  background: #ddd;
  -webkit-box-shadow: 0.2px 2px 5px rgba(104, 104, 104, 0.8);
          box-shadow: 0.2px 2px 5px rgba(104, 104, 104, 0.8);
  display: -ms-grid;
  display: grid;
  grid-gap: 50px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 3rem;
}

.portfolio {
  display: -ms-grid;
  display: grid;
  grid-gap: 15px;
  -ms-grid-columns: (minmax(100px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.portfolio img {
  -webkit-box-shadow: 0.2px 2px 5px rgba(104, 104, 104, 0.8);
          box-shadow: 0.2px 2px 5px rgba(104, 104, 104, 0.8);
  width: 100%;
}

footer {
  margin-top: 4rem;
  background: #333;
  color: #fff;
  text-align: right;
  padding: 10px;
}

footer p {
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
  padding-right: 2rem;
}

@media (max-width: 900px) {
  .top-container {
        grid-template-areas: 'a a' 'b c';
  }
}
/*# sourceMappingURL=style.css.map */